$color-white:       #ffffff;
$color-primary:     #3f82c7;
$color-secondary:   #fa7268;
$color-error:       #ea4335;
$color-success:     #22d6a5;
$color-lite-blue:   #70afe6;
$color-black:       #333340;
$color-dark-gray:   #767680;
$color-mid-gray:    #b4b4bf;
$color-light-gray:  #dedee3;
$color-ultra-light-gray: #f3f3f5;
$color-super-ultra-light-gray: #fafafa;
$color-lite-secondary:   rgba(242, 114, 104, 0.1);