 @import 'src/assets/style/variable';
.navbar {
  padding: 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  &-border {
    box-shadow: 0 0.5px $color-dark-gray;
  }

  &-light {
    background: white;
  }

  &-survey {
    background-color: $color-primary;
    padding-right: 30px;
    padding-left: 30px;

    &__brand {
      color: white;
      font-size: 1.5rem;
      padding-right: 30px;
      border-right: 1px solid white;
      line-height: 1;
      text-decoration: none;
    }

    &__left {
      position: absolute;

      p {
        margin-bottom: 0;
        color: white;
        font-size: 0.875rem;
      }

      p,
      img,
      fa {
        margin-left: 15px;
      }
    }

    &__right {
      position: absolute;
      right: 25px;
    }

    &__btn-preview {
      background-color: $color-white;
      color: $color-black;
      font-size: 0.75rem;
      border: 1px solid $color-white;
      border-radius: 5px;
      padding: 5px 10px 5px 12px;
      margin-right: 20px;
      cursor: pointer;
    }

    &__profile {
      background-color: transparent;
      border: 1px solid $color-white;
      color: $color-white;
      border-radius: 50%;
      text-transform: capitalize;
      font-size: 0.75rem;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }

    &__dashboard {
      background-color: transparent;
      border: 1px solid $color-mid-gray;
      color: $color-mid-gray;
      border-radius: 50%;
      text-transform: capitalize;
      font-size: 0.75rem;
      width: 30px;
      height: 30px;
    }

    &__menu {
      position: relative;
      i {
        color: white;
        margin-left: 10px;
        font-size: 0.625rem;
      }
    }

    &__menu-dashboard {
      position: relative;
      i {
        color: $color-mid-gray;
        margin-left: 10px;
        font-size: 0.625rem;
      }
    }

    &__dropdown {
      width: 150px;
      position: absolute;
      top: 30px;
      right: 0;
      z-index: 1000;
      list-style-type: none;
      background: white;
      border-radius: 5px;
      box-shadow: 0 8px 20px rgba(14, 47, 77, 0.08);
      padding: 0.5rem 0 0.5rem 0;

      > li {
        padding: 0.8rem 1.5rem 0.8rem 1.5rem;
        font-size: 0.875rem;
        color: black;

        &:hover {
          background-color: $color-light-gray;
        }
      }

      .divider {
        border-top: 1px solid $color-light-gray;
      }
    }

    .nav-link {
      color: white;
      font-size: 0.9rem;

      &:hover {
        color: $color-lite-blue !important;
      }
    }

    .nav-item {
      margin-bottom: 0;
    }

    .navbar-nav .active > .nav-link {
      display: inline-block;
      color: white;
      border-bottom: 2.5px solid white;
      text-decoration: none;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 15px;
    }
  }
}

.navbar-brand {
  width: 250px;
  margin-right: 0;
  text-align: center;
  color: $color-primary;
  font-size: 1.5rem;

  &:hover,
  &:focus {
    color: $color-primary;
  }
}

.nav-link {
  color: $color-dark-gray;
  font-size: 0.9rem;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-right: 0.5rem;
  margin-left: 0.5rem;

  &:hover {
    color: $color-lite-blue !important;
  }
}

.nav-item {
  margin: 10px;
}

.navbar-nav .active > .nav-link {
  color: $color-primary;
  border-bottom: 1px solid $color-primary;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 0px $color-light-gray;
  padding-bottom: 5px !important;
}

.nav {
  &__login {
    cursor: pointer;
    border: solid 1px $color-primary;
    border-radius: 1.5rem;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    color: $color-dark-gray;
  }

  &__signup {
    cursor: pointer;
    border: solid 1px $color-primary;
    border-radius: 1.5rem;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    color: $color-white;
    background-color: $color-primary;
  }
}
