<div class="modal-body">
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="onClose()"
  >
    <span aria-hidden="true">&times;</span>
  </button>

  <div class="container">
    <h1>New Project</h1>

    <p>Project Name</p>

    <input type="text" [(ngModel)]="projectName" />

    <div class="d-flex align-items-center justify-content-center">
      <button class="btn btn__next" type="submit" (click)="onNext()">
        Next
      </button>
    </div>
  </div>
</div>
