<div class="modal-body">
  <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
    <span aria-hidden="true">&times;</span>
  </button>

  <div class="container">
    <h1>Forgot Password</h1>

    <p>Please let us know your email address.</p>

    <input type="text" [(ngModel)]="email" />

    <div class="d-flex align-items-center justify-content-center">
      <button class="btn btn__next" type="submit" (click)="onNext()">
        Send
      </button>
    </div>
  </div>
</div>
