 @import 'src/assets/style/variable';
.privacy {
  width: 58%;
  h1 {
    font-size: 2rem;
    font-weight: 500;
    color: $color-black;
    margin-bottom: 4rem;
    margin-top: 5rem;
  }

  h2 {
    font-size: 1.125rem;
    font-weight: 400;
    text-transform: uppercase;
    color: $color-black;
    margin-top: 2rem;
  }

  h3 {
    font-size: 1.125rem;
    font-weight: 500;
    text-transform: uppercase;
    color: $color-black;
    margin-top: 1.5rem;
  }

  span {
    font-size: 1.125rem;
    font-weight: 500;
    color: $color-black;
  }

  p {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.125rem;
    color: $color-black;
  }

  &__footer {
    position: relative;
    height: 10vh;
  }
}
