<ct-navigation-bar type="home"></ct-navigation-bar>
<div class="home">
  <img
    class="home__background__img"
    src="assets/image/contact-us-background.png"
  />

  <div class="row home__wrapper">
    <div
      class="template col-xl-6 d-flex flex-column justify-content-center align-items-center"
    >
      <div
        class="template__new__button align-self-start"
        routerLink="/dashboard"
      >
        <span>NEW</span> Choose from over 200 templates
        <i class="fa fa-angle-right"></i>
      </div>

      <p class="template__text align-self-start">
        Data Collection Tool, Simply Powerful and Beautiful
      </p>

      <div class="template__signup__free align-self-start">
        <button class="btn btn-sign-up-free" routerLink="/signup">
          Sign up for free
        </button>
        <span> 14 Day Free Trial, No CC Required</span>
      </div>
    </div>

    <div class="col-xl-6">
      <img class="template__drag__drop" src="assets/image/drag_drop.png" />
    </div>
  </div>
</div>

<div class="home__footer">
  <ct-footer></ct-footer>
</div>
