<ct-navigation-bar type="home" pageName="contact-us"></ct-navigation-bar>
<div class="contact container row">
  <div class="contact__left col-xl-6 col-12">
    <div class="contact__form">
      <h1>Contact Insightat</h1>
      <p class="contact__label">Name</p>
      <input class="contact__input" placeholder="Type your name here..." />

      <p class="contact__label">Email</p>
      <input class="contact__input" placeholder="Type your email here..." />

      <p class="contact__label">Message</p>
      <textarea class="contact__textarea" rows="5"></textarea><br />

      <button class="contact__button">Send</button>
    </div>

    <div class="contact__links">
      <p>Stay in touch</p>
      <div class="d-flex">
        <div class="contact__links__item">
          <img src="/assets/image/question.png" />
        </div>

        <div class="contact__links__item">
          <img src="/assets/image/question.png" />
        </div>

        <div class="contact__links__item">
          <img src="/assets/image/question.png" />
        </div>

        <div class="contact__links__item">
          <img src="/assets/image/question.png" />
        </div>

        <div class="contact__links__item">
          <img src="/assets/image/question.png" />
        </div>
      </div>
    </div>
  </div>

  <div class="contact__right col-xl-6 col-12">
    <img src="/assets/image/customer.png" />
  </div>
</div>
<div class="contact__footer">
  <ct-footer></ct-footer>
</div>
