<ct-navigation-bar type="home" pageName="solutions"></ct-navigation-bar>
<div class="solutions container">

  <div class="solutions__item">
    <div class="solutions__item__description">
      <h1>Not Your Usual Survey and Form Builder</h1>
      <p> Build surveys and forms, share via verity of channels and get the results. <br/>That’s simple!</p>
    </div>
    <div class="solutions__item__img">
      <img src="/assets/image/icon-form.png" />
    </div>
  </div>

  <div class="solutions__item">
    <div class="solutions__item__img">
      <img src="/assets/image/icon-custom-support.png" />
    </div>

    <div class="solutions__item__description">
      <h1>The Real Voice of Your Customers</h1>
      <p> Listen to your customers and show them that you care. Insightat helps you build your own customer satisfaction surveys, or you could pick one of many templates.</p>
    </div>
  </div>

  <div class="solutions__item">
    <div class="solutions__item__description">
      <h1>Employees Engagement Never Been More Professional</h1>
      <p> Collet the employees' feedback and improve their engagement</p>
    </div>
    <div class="solutions__item__img">
      <img src="/assets/image/icon-employer.png" />
    </div>
  </div>

  <div class="solutions__item">
    <div class="solutions__item__img">
      <img src="/assets/image/icon-product.png" />
    </div>
    
    <div class="solutions__item__description">
      <h1>Improve Your Products And Services</h1>
      <p>Give your customers the opportunity to rate your services and products for the continues improving.</p>
    </div>
  </div>

  <div class="solutions__item">
    <div class="solutions__item__description">
      <h1>Instant Feedback (Kiosk)</h1>
      <p>Get the instant feedback and close the gap between you and the customers.</p>
    </div>
    <div class="solutions__item__img">
      <img src="/assets/image/icon-feedback.png" />
    </div>
  </div>

  <div class="solutions__footer">
    <ct-footer></ct-footer>
  </div>
</div>