<ct-navigation-bar type="home" pageName="faq"></ct-navigation-bar>
<div class="privacy container">
  <h1>FAQ | Frequently Asked Questions</h1>
  <div class="faq__item">
    <p class="faq__item__question">What is Insightat?</p>
    <p class="faq__item__answer">
      Paperform is an online platform that enables anyone to create online forms
      or product pages quickly, intuitively, and to brand them as they like, all
      without writing code. Whether you’re involved involved with organising
      events, sporting groups, marketing agencies, tech startups, or any other
      project, Paperform is a beautiful and robust solution. Quickly and simply
      create customisable forms and pages that take payments, and are easy for
      your customers and communities to complete on mobile or desktop. To see
      how it works, watch the 3 minute video.
    </p>
  </div>
</div>
<ct-footer></ct-footer>
